// -*- coding: utf-8 -*-

// ==================================================
//   Color
// ==================================================

// Purple
$purple-dark:  #435;
$purple-light: #dcf;

// Gray
$gray-dark:    #666;
$gray-light:   #ccc;
$gray-lighter: #eee;
